---
BasedOnStyle: Microsoft
AllowShortFunctionsOnASingleLine: Inline
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
PackConstructorInitializers: CurrentLine
Language: Cpp
ColumnLimit: 80
---
